<!doctype html>
<html>
  <head>
    <title>Getting Started Extension's Popup</title>
    <link rel = "stylesheet" type = "text/css" href = "../public/bootstrap/bootstrap.css" />
  </head>
  <body>

    <div class="col-lg-12 col-md-12 col-sm-12" style="width: 150px">
      <form role="form">
        <div class="form-group">
          <label for="loopCount">
            Loop count
          </label>
          <input type="number" class="form-control" id="loopCount" min="1" value="1" />
        </div>
        <div class="form-group">
          <label for="wait">
            Wait in  seconds
          </label>
          <div class="input-group">
            <input type="number" class="form-control" id="wait" min="0" value="0">
            <span class="input-group-addon">s</span>
          </div>
        </div>
        <div class="form-group">
          <label for="action">
            Choose action
          </label>
          <select id="action" class="form-control" name="functionName">
            <option value="reload">Reload page</option>
            <option value="fillForm">Fill form</option>
          </select>
        </div>
        <div class="form-group">
          <input id="run" style="margin-top: 5px;" type="button" class="btn btn-lg btn-block btn-danger" value="Run" onclick="run()" />
        </div>
      </form>
    </div>

    <script src="../public/jquery/jquery.min.js"></script>
    <script src="../public/bootstrap/bootstrap.min.js"></script>
    <script src="../public/myScripts/popup.js"></script>
  </body>
</html>

